.button {
  display: inline-block;
  min-width: fit-content;
  height: 48px;
  padding: 8px 16px;
  background-color: var(--light-green);
  color: var(--purple);
  font-size: 1rem;
  line-height: 0;
  border: 2px solid var(--purple);
  border-radius: 24px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--purple);
  color: var(--white);
}
