.container {
  gap: 160px;
}

.inverted {
  flex-direction: row-reverse;
}

.name {
  color: var(--purple);
  text-align: center;
}

.title {
  color: var(--gray);
  text-align: center;
}

.description {
  text-align: center;
}

.video {
  width: 360px;
  height: 360px;
}

@media (max-width: 768px) {
  .video {
    width: 280px;
    height: 280px;
  }
}
