.container {
  gap: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inverted {
  flex-direction: row-reverse;
}

.name {
  color: var(--purple);
  text-align: center;
  background-color: white;
  padding: 0 20px;
}

.title {
  color: var(--gray);
  text-align: center;
  background-color: white;
  padding: 0 20px;
}

.description {
  padding: 0 60px;
  text-align: center;
  background-color: white;
}

.video {
  width: 360px;
  height: 360px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 40px;
    max-width: 280px;
    margin: 0 auto;
  }

  .inverted {
    flex-direction: column;
  }

  .video {
    width: 280px;
    height: 280px;
  }

  .description {
    padding: 0 20px;
  }
}
