.header {
  width: 100%;
  padding: 80px 0;
  background-color: var(--red);
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: min(90vw, 1380px);
  background-color: var(--nude);
  margin: 0 auto;
  padding: 24px 0 48px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;
}

.project {
  position: relative;
  height: 440px;
  grid-column: span 2;
}

.project:nth-child(4n + 2),
.project:nth-child(4n + 3) {
  grid-column: span 4;
}

.projectHover {
  opacity: 0;
  position: absolute;
  display: grid;
  place-items: center;
  color: var(--purple);
  width: 100%;
  height: 100%;
  padding: 40px;
  z-index: 1;
  text-align: center;
}

.project:hover .projectHover {
  opacity: 1;
}

.lastItem {
  grid-column: span 6;
}
