.container {
  --padding-block: 48px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-top: 24px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.coverContainer {
  display: flex;
  gap: 12px;
  min-height: 640px;
  padding-right: var(--padding-block);
}

.coverText {
  width: 30%;
}

.coverImg {
  position: relative;
  width: 70%;
}

.serviceNameCountry {
  padding: 8px 0 8px var(--padding-block);
}

.serviceDescription {
  padding: 8px 0 8px var(--padding-block);
}

.serviceInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 28px 12px 12px var(--padding-block);
}

.serviceInfoTitle {
  color: var(--white);
  text-transform: uppercase;
}

.infoContainer {
  text-align: center;
  padding: 32px var(--padding-block);
}

.oneWide {
  display: flex;
  height: 45vw;
  padding: 0 var(--padding-block);
}

.oneSquare {
  display: flex;
  height: 60vw;
  padding: 0 var(--padding-block);
}

.oneTall {
  display: flex;
  height: 100vw;
  padding: 0 var(--padding-block);
}

.oneSuperWide {
  display: flex;
  height: 30vw;
  padding: 0 var(--padding-block);
}

.twoWide {
  display: flex;
  gap: 8px;
  height: 30vw;
  padding: 0 var(--padding-block);
}

.twoWideSquare {
  display: flex;
  gap: 8px;
  height: 47vw;
  padding: 0 var(--padding-block);
}

.twoSquare {
  display: flex;
  gap: 8px;
  height: 50vw;
  padding: 0 var(--padding-block);
}

.twoTall {
  display: flex;
  gap: 8px;
  height: 70vw;
  padding: 0 var(--padding-block);
}

.threeWide {
  display: flex;
  gap: 8px;
  height: 20vw;
  padding: 0 var(--padding-block);
}

.threeSquare {
  display: flex;
  gap: 8px;
  height: 33vw;
  padding: 0 var(--padding-block);
}

.threeTall {
  display: flex;
  gap: 8px;
  height: 50vw;
  padding: 0 var(--padding-block);
}

.fourWide {
  display: flex;
  gap: 8px;
  height: 15vw;
  padding: 0 var(--padding-block);
}

.fourSquare {
  display: flex;
  gap: 8px;
  height: 25vw;
  padding: 0 var(--padding-block);
}

.fiveSquare {
  display: flex;
  gap: 8px;
  height: 19vw;
  padding: 0 var(--padding-block);
}

.sixSquare {
  display: flex;
  gap: 8px;
  height: 15vw;
  padding: 0 var(--padding-block);
}

.flexItem {
  position: relative;
  flex: 1 1 0px;
}

.finalResult {
  display: flex;
  gap: 8px;
  height: 24vw;
  padding: 0 var(--padding-block);
}

.square {
  height: 50vw;
}

.reverse {
  flex-direction: row-reverse;
}

.reverse {
  flex-direction: row-reverse;
}

.finalResultText {
  justify-content: center;
}

.finalResultText > * {
  max-width: 540px;
  text-align: center;
}

.finalResultVideo {
  height: 100%;
}

.video {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoContainer {
  position: relative;
  height: 40vw;
  margin: 0 var(--padding-block);
}

.playContainer {
  position: relative;
  height: 24vw;
  overflow: hidden;
  cursor: pointer;
}

.black {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0.8;
  z-index: 1;
}

.playContainer:hover .black {
  opacity: 0.3;
}

.play {
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 70px);
  z-index: 2;
}

.playVideo {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1140px) {
  .coverContainer {
    flex-direction: column-reverse;
    padding-left: var(--padding-block);
  }

  .coverText {
    width: 100%;
  }

  .coverImg {
    position: relative;
    width: 100%;
    height: 40vw;
  }

  .serviceInfo {
    padding: 28px 12px 12px 0;
  }

  .finalResult {
    flex-direction: column;
    gap: 32px;
    height: auto;
  }

  .finalResultText > * {
    max-width: 740px;
  }

  .playContainer {
    height: 40vw;
  }
}

@media (min-width: 768px) and (max-width: 1140px) {
  .serviceInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .coverContainer {
    min-height: auto;
  }
}

@media (max-width: 560px) {
  .coverContainer {
    min-height: auto;
  }

  .twoWide {
    flex-direction: column;
    height: 85vw;
  }

  .twoWideSquare {
    flex-direction: column;
    height: 90vw;
  }

  .twoSquare {
    flex-direction: column;
    height: 90vw;
  }

  .twoTall {
    flex-direction: column;
    height: 85vw;
  }

  .threeWide {
    flex-direction: column;
    height: 128vw;
  }

  .threeSquare {
    flex-direction: column;
    height: 128vw;
  }

  .threeTall {
    flex-direction: column;
    height: 128vw;
  }

  .fourWide {
    flex-direction: column;
    height: 128vw;
  }

  .fourSquare {
    flex-direction: column;
    height: 128vw;
  }

  .fiveSquare {
    flex-direction: column;
    height: 128vw;
  }

  .sixSquare {
    flex-direction: column;
    height: 128vw;
  }
}
