:root {
  --nude: #f8e1c1;
  --purple: #6a68d4;
  --light-purple: #b2aee9;
  --green: #04a357;
  --light-green: #86e874;
  --pink: #f7c5e9;
  --red: #f23730;
  --yellow: #fdc800;
  --gray: #7d7d7d;
  --white: #ffffff;
  --black: #000000;
}
