.separator {
  font-size: 24px;
  margin: 0 8px;
}

.crumb {
  padding: 2px 8px;
  color: var(--purple);
}

.link:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.noLink:hover {
  opacity: 0.7;
}
