.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 0 0 20vw;
  background-color: var(--nude);
  text-align: center;
}

.projects {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 440px);
  grid-template-areas:
    "illustration illustration illustration illustration animation animation"
    "editorial editorial motion-graphics motion-graphics motion-graphics motion-graphics "
    "social-media social-media social-media branding branding branding";
  gap: 24px;
  padding: 48px;
  background-color: var(--white);
}
