.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 0 0 20vw;
  background-color: var(--nude);
  text-align: center;
}

.title {
  flex-shrink: 0;
}

.projects {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 440px);
  grid-template-areas:
    "illustration illustration illustration illustration animation animation"
    "editorial editorial motion-graphics motion-graphics motion-graphics motion-graphics "
    "social-media social-media social-media branding branding branding";
  gap: 24px;
  width: min(90vw, 1380px);
  margin: 0 auto;
  padding: 48px 0;
  background-color: var(--white);
}

.imageContainer {
  position: relative;
  display: flex;
  width: 50%;
}

.image {
  height: 100%;
}

@media (max-width: 768px) {
  .projects {
    grid-template-rows: repeat(3, 240px);
  }
}

@media (max-width: 576px) {
  .projects {
    grid-template-columns: 1fr;
    grid-template-rows: none;
    grid-auto-rows: 200px;
    grid-template-areas:
      "illustration"
      "animation"
      "editorial"
      "motion-graphics"
      "social-media"
      "branding";
  }
}
