.wrapper {
  display: flex;
  padding: 52px 0 0 24px;
  gap: 56px;
}

.illustration {
  background-color: var(--green);
}

.animation {
  background-color: var(--yellow);
  flex-direction: row-reverse;
  padding: 52px 24px 0 0;
}

.social-media {
  background-color: var(--purple);
}

.editorial {
  background-color: var(--red);
  flex-direction: row-reverse;
  padding: 0 24px 52px 0;
}

.branding {
  background-color: var(--pink);
}

.motion-graphics {
  background-color: var(--light-purple);
  flex-direction: row-reverse;
  padding: 52px 24px 0 0;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
  max-width: 280px;
  color: var(--white);
}

.title {
  font-weight: 700;
}

.description {
  text-align: center;
}
