@import "../styles/colors.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--nude);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: min(95%, 1380px);
  margin: 0 auto;
}

.bg-nude {
  background-color: var(--nude);
}

.bg-light-purple {
  background-color: var(--light-purple);
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

h2 {
  font-size: 2.25rem;
  font-weight: 400;
}

h3 {
  font-size: 1.875rem;
}

p {
  font-size: 1.125rem;
}

.row {
  display: flex;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.g-24 {
  gap: 24px;
}

.g-32 {
  gap: 32px;
}

.g-40 {
  gap: 40px;
}

.g-48 {
  gap: 48px;
}

.g-96 {
  gap: 96px;
}
