@import "../styles/colors.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: min(95%, 1380px);
  margin: 0 auto;
}

.bg-nude {
  background-color: var(--nude);
}

.bg-light-purple {
  background-color: var(--light-purple);
}
