/* FAQ Section */
.faqSection {
  background: var(--nude);
  position: relative;
  overflow: hidden;
}

.faqHeader {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 auto;
}

.faqTitleContainer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8vw;
  z-index: 2;
  padding: 0 10vw;
}

.faqTitleContainer button {
  margin-right: 20vw;
}

.questionImage {
  align-self: center;
  object-fit: contain;
}

.characterImage {
  object-fit: contain;
}

.faqSection.expanded .characterImage {
  display: none;
}

/* Title Section */
.faqTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Expandable Content */
.expandedContainer {
  display: flex;
  margin: 3rem auto 0;
  gap: 2rem;
  max-width: 1400px;
  animation: fadeInDown 0.3s ease;
}

.expandedLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expandedQuestionImage {
  width: 400px;
  height: 200px;
  object-fit: contain;
}

.expandedTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 300px;
}

.expandedRight {
  flex: 1;
  border-radius: 12px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.closeButton {
  align-self: center;
  margin-top: 1rem;
}

.faqList {
  display: flex;
  gap: 2rem;
  flex: 1;
}

.faqColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faqItem {
  position: relative;
}

.faqQuestion {
  color: var(--purple);
  cursor: pointer;
  padding: 1rem 0;
  padding-left: 2rem;
  transition: color 0.2s ease;
  position: relative;
  font-weight: 700;
}

.faqQuestion::before {
  content: "";
  position: absolute;
  left: -10px;
  width: 40px;
  height: 40px;
  background-image: url("/static/icons/chevron_right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  transform: translateY(-50%);
}

.faqQuestion:hover {
  color: var(--light-purple);
}

.faqAnswer {
  color: var(--purple);
  padding: 1rem;
  animation: fadeInDown 0.3s ease;
  border: 1px solid var(--purple);
  text-align: center;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Design */
@media (max-width: 1024px) {
  .faqHeader {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .faqCharacter {
    order: -1;
  }
}

@media (max-width: 768px) {
  .faqSection {
    padding: 2rem 1rem;
  }

  .questionMark {
    font-size: 3rem;
  }

  .faqButton {
    padding: 0.8rem 1.5rem;
  }
}
