.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100px;
  z-index: 10;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlinks {
  display: none;
  gap: 6vw;
}

.navlink {
  position: relative;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.navlinkSidebar {
  font-size: 0.875rem;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--purple);
}

.slideMenu {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}

.mobileMenuContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobileMenuLinks {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (min-width: 1024px) {
  .navlinks {
    display: flex;
  }

  .slideMenu {
    display: none;
  }
}

@media (min-width: 1280px) {
  .navlink {
    font-size: 0.875rem;
  }
}
