.navbar {
  width: 100%;
  min-height: 100px;
}

.container {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5vw;
  z-index: 10;
  background-color: transparent;
  transition: all 0.2s ease-out;
}

.navlinks {
  display: none;
  gap: 3vw;
}

.navlinkContainer {
  position: relative;
}

.dropdown.show {
  opacity: 1;
  visibility: visible;
  animation: dropdownBounce 0.4s ease-out forwards;
  transition-delay: 0s;
}

.navlink {
  width: 100%;
  position: relative;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
  transition: font-weight 0.2s ease;
  padding: 12px 16px;
}

.navlink.active {
  font-weight: 700;
}

.navlinkSidebar {
  font-size: 0.875rem;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.underline {
  position: absolute;
  bottom: 4px;
  left: 16px;
  width: calc(100% - 32px);
  height: 2px;
}

.slideMenu {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}

.mobileMenuContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobileMenuLinks {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@keyframes dropdownBounce {
  0% {
    transform: translateX(-50%) translateY(-30px);
    opacity: 0;
  }
  60% {
    transform: translateX(-50%) translateY(10px);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-30px);
  background-color: var(--nude);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  min-width: 180px;
  padding: 4px 12px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  transition-delay: 0.5s;
  z-index: 20;
  margin-top: 8px;
}

.dropdownFullWidth {
  position: fixed;
  top: 94px;
  left: 0;
  right: 0;
  width: 100vw;
  transform: translateY(-30px);
  padding: 60px 5vw 60px calc(5vw + 44px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  transition-delay: 0.5s;
  z-index: 20;
}

.dropdownFullWidth.show {
  opacity: 1;
  visibility: visible;
  animation: dropdownSlideDown 0.4s ease-out forwards;
  transition-delay: 0s;
}

.dropdownContent {
  display: flex;
  gap: 60px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: start;
}

.dropdownLeft {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 40%;
}

.dropdownDescription {
  max-width: 50%;
}

.dropdownMiddle {
  display: flex;
  gap: 40px;
}

.dropdownColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.dropdownColumn:not(:first-child) {
  border-left: 1px solid var(--purple);
  padding-left: 40px;
  align-items: center;
}

.dropdownColumnTitle {
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  margin-bottom: 8px;
}

.dropdownRight {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.dropdownImage {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: contain;
}

.dropdownItemFullWidth {
  text-transform: uppercase;
  text-align: left;
  text-decoration: none;
  transition: font-weight 0.2s ease;
}

.dropdownColumn:not(:first-child) .dropdownItemFullWidth {
  text-align: center;
}

.dropdownItemFullWidth:hover {
  font-weight: 700;
}

.dropdownItem:hover {
  font-weight: 700;
}

@keyframes dropdownSlideDown {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  60% {
    transform: translateY(10px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 1024px) {
  .navlinks {
    display: flex;
    align-items: center;
  }

  .slideMenu {
    display: none;
  }

  .dropdown {
    display: none;
  }

  .dropdownFullWidth {
    display: block;
  }
}

@media (max-width: 1023px) {
  .dropdownFullWidth {
    display: none;
  }
}

@media (min-width: 1280px) {
  .navlink {
    font-size: 0.875rem;
  }
}
