.container {
  padding-top: 80px;
  background-color: var(--pink);
  cursor: pointer;
  overflow: hidden;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  top: 80px;
}

.shapeContainer {
  position: relative;
  width: 10vw;
  max-width: 80px;
  height: 6vw;
  transform: translateY(-4px);
}

.imageContainer {
  position: relative;
  width: 600px;
  height: 600px;
  flex-shrink: 0;
  margin-top: -20px;
}

.shape {
  transform: translateY(10px);
  animation: shake 1s linear infinite;
}

@media (max-width: 768px) {
  .titleContainer {
    gap: 8px;
  }

  .imageContainer {
    width: 300px;
    height: 300px;
  }
}

@keyframes shake {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
