.container {
  position: relative;
  background-color: var(--pink);
  cursor: pointer;
  max-height: 600px;
  overflow: hidden;
}

.titleContainer {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 8px;
  top: 48px;
}

.title {
  position: relative;
  color: var(--white);
  z-index: 1;
}
