.container {
  padding: 60px 0;
  background-color: var(--white);
}

.video {
  width: 100%;
  max-width: 1044px;
  height: auto;
}

.titleContainer {
  position: relative;
}

.title {
  position: relative;
  z-index: 1;
}

.misc {
  position: absolute;
  top: -8px;
  left: -44px;
}
